.mailing-list#mailing-list
  h2 MAILING LIST
  | <script async type="text/javascript" src="//www.bandpage.com/extensionsdk"></script><div class="bp-extension" data-bandpage-rmid="164570866821132288"></div>
